* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* header */
header {
    background-color: #0084FD;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}


header .container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#menudesktop {
    display: flex;
    align-items: center;
}

#menudesktop ul {
    display: flex;
    
}

#menudesktop li {
    list-style-type: none;
    padding: 15px;
    color: white;
}

#menudesktop button {
    
    padding: 5px;
    border-radius: 20px;
}

#menumobile {
    display: none;
}

.fa-bars {
    color: white;
    font-size: 30px;
    margin-top: 5px;
}

    /* versione tablet */

@media screen and (max-width:768px) {
    #menumobile {
        display: block;
    }

    #menudesktop {
        display: none;
    }
    
}


/* parte principale */
#devsection{
    margin-top: 110px;
}

#devsection .row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding
}

#devsection .col {
    background-color: #B5DDFF;
}

.col {
    width: 40%;
    margin-bottom: 20px;
}

    /* sezione developer */
.col.app {
    width: 55%;
    position: relative;
}

.app div {
    width: 50%;
    padding: 20px;
}

.app img {
    height: 250px;
    padding: 20px 30px 0 0;
    
    position: absolute;
    bottom: 0;
    right: 0;
    
}

.app button {
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #0084FD;
    color: white;
    border: 0;
}

.app h2, .colRow2 h2 {
    color: #0084FD;
}

.app p, .colRow2 p {
    color: #5A6E7F;
}


.app h2, .app p, .colRow2 h2, .colRow2 p  {
    margin-bottom: 30px;
}


.col.code {
    width: 40%;
    text-align: center;
    padding: 10px;
    
}

.fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn  {
    font-size: 80px;
    color: #0084FD;
    margin: 20px 0;
}

.col.code h2 {
    margin-bottom: 20px;
    color: #0084FD;
}

.col.code p {
    color: #5A6E7F;
}


.colRow2 {
    width: 28%;
    background-color: #B5DDFF;
    text-align: center;
}


.row2 {
    gap: 20px;
    margin-bottom: 50px;
}


    /* versione smartphone */

@media screen and (max-width:480px) {
    #devsection .row {
        display: block;
    }

    .col.app, .col.code, .colRow2 {
        width: 100%;
        margin-bottom: 15px;
    }
}    

    /* versione tablet */
    @media screen and (max-width:768px) {
        .app div {
            width: 100%;
            
        }

        .app img  {
            position: initial;
            vertical-align: bottom;
        
        }
    }




/* sezione planning */


#plansection .container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.col1 {
    width: 45%;
    background-color: grey;
}


.col1 .img {

min-height: 120px;
margin-bottom: 20px;
}

.col1 .testo {
   
    min-height: 120px;
}

.col2 {
    width: 45%;
    background-color: blue;
    
}

.minicontainer {
    
    min-height: 200px;
    background-color: black;
    margin-top: 60px;
}

     /* versione smartphone */

@media screen and (max-width:480px) {
    #plansection .container {
        display: block;
    }

    .col1, .col2 {
        width: 100%;
    }

    .minicontainer {
        margin-top: 30px;
    }

}

/* versione tablet */
@media screen and (max-width:768px) {
    #plansection .container {
        display: block;
    }

    .col1, .col2 {
        width: 100%;
    }

    .minicontainer {
        margin-top: 30px;
    }
}




/* sezione testimonials */

#testimonials .container {
    width: 80%;
    margin: 0 auto;
}

#testimonials .row {
    min-height: 100px;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
}

.img-testimonials {
    height: 100px;
    width: 25%;
}

.text-testimonials {
    height: 100px;
    width: 70%;
    margin-left: 5%;
}

    /* versione smartphone */

    @media screen and (max-width:480px) {
        #testimonials .row {
            display: block;
        }

        .img-testimonials, .text-testimonials{
            width: 100%;
            margin: 20px auto;
        }
    }



/* sezione benefits */

#benefits-desktop .container-desktop {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#benefits-desktop .title {
    min-height: 100px;
    background-color: yellow;
    margin-bottom: 10px;
}

.container-desktop .row {
    min-height: 100px;
    display: flex;
    gap: 20px;
   
}

/* container tablet */
.container-tablet {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

#benefits-tablet .title {
    min-height: 100px;
    background-color: yellow;
    margin-bottom: 10px;
}

.container-tablet .row {
    min-height: 100px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

/* container mobile */

.container-mobile {
    padding: 20px;
}

#benefits-mobile .title {
    min-height: 100px;
    background-color: yellow;
    margin-bottom: 10px;
}

.container-mobile .col {
    width: 100%;
    margin: 10px auto;
}


/* versione desktop */

@media screen and (min-width:769px) {
    #benefits-mobile {
        display: none;
    }

    #benefits-tablet{
        display: none;
    }

   

}




/* versione tablet */
@media screen and (max-width:768px) {

    #benefits-tablet{
        display: block;
    }

    #benefits-desktop {
        display: none;
    }

    #benefits-mobile {
        display: none;
    }
}

    /* versione mobile */
    
@media screen and (max-width:480px) {
    #benefits-mobile {
        display: block;
    }

    #benefits-tablet{
        display: none;
        
    }
}


/* sezione about us */

#aboutus .container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin-bottom: 0;
}

.col-right {
    width: 60%;
    min-height: 100px;
    background-color: green;
}

.col-left {
    width: 35%;
    min-height: 100px;
    background-color: green;
}

    /* versione mobile */

@media screen and (max-width:480px) {
    #aboutus .container {
        display: block;
    }

    .col-right, .col-left {
        width: 100%;
        
    }

    .col-right{
        margin-bottom: 20px;
    }
}



/* sezione call to action */

#calltoaction .container {
    text-align: center;
}






/* footer */
footer {
    background-color: black;
}

footer .container {
    text-align: center;
}







/* DEBUG */




.container, .container-desktop, .container-tablet {
    background-color: aqua;
    min-height: 50px;
}

    /* header */
    /* #logo, header nav {
        min-height: 50px;
        min-width: 50px;
        background-color: blueviolet;
        border: 1px solid black;
    } */

    /* main */
    section {
        min-height: 150px;
        background-color: brown;
        margin-bottom: 20px;
    }

    /* section developer */
    /* .colRow2  {
        min-height: 100px;
        background-color: green;
    } */

    .col  {
        min-height: 100px;
        background-color: green;
    }

    /* section planning */
    .col1 .img  {
        background-color: bisque;
    }

    .col1 .testo {
        background-color: yellow;
    }

    
    /* sectiontestimonials */

    #testimonials .row {
        background-color: green;
    }

    .img-testimonials, .text-testimonials {
        background-color: blue;
    }


    /* footer */
    footer {
        min-height: 150px;
    }